* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.header {
  display: none; }

.header-m {
  display: block;
  height: 65px;
  width: 100%;
  background-color: #ffffff; }
  .header-m .header-contain-m {
    height: 100%;
    width: 100%;
    position: relative; }
    .header-m .header-contain-m .logo {
      width: 35%;
      height: 45%;
      margin-left: 12px;
      margin-top: 20px; }
    .header-m .header-contain-m .nav {
      transition: all .5s ease;
      overflow: hidden;
      height: 0;
      font-size: 18px;
      width: 200px;
      position: absolute;
      right: 0;
      background-color: #ffffff80;
      top: 65px;
      z-index: 500; }
      .header-m .header-contain-m .nav .nav-list {
        margin: 20px auto 20px;
        text-align: center; }
        .header-m .header-contain-m .nav .nav-list a {
          color: #767676; }
    .header-m .header-contain-m .menu {
      margin: 20px 10px 0 0;
      float: right; }
      .header-m .header-contain-m .menu button {
        height: 30px;
        width: 30px;
        font-size: 18px; }

.banner {
  height: 300px; }

.title {
  width: 100%;
  margin: 50px auto 55px;
  color: #767676; }
  .title .cn {
    font-size: 20px;
    font-weight: bold; }
  .title .en {
    font-size: 12px;
    margin-bottom: 5px; }
  .title span {
    display: inline-block;
    background-color: #767676;
    height: 1px; }
  .title .left-line {
    float: left;
    width: 60px; }
  .title .right-line {
    display: none; }

.project {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .project .project-menu {
    width: 100%;
    position: relative;
    display: inline-block; }
    .project .project-menu .project-menu-list {
      cursor: pointer;
      position: relative;
      float: left;
      width: 25%;
      color: #767676;
      font-size: 14px; }
      .project .project-menu .project-menu-list span {
        position: absolute;
        height: 8px;
        width: 1px;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #767676; }
    .project .project-menu .project-menu-list.active {
      color: #668aca;
      font-size: 16px; }
    .project .project-menu .project-menu-list:hover {
      color: #668aca;
      font-size: 16px; }
    .project .project-menu .project-check {
      position: absolute;
      transition: all 0.5s ease 0.1s;
      height: 1px;
      width: 12px;
      bottom: -5px;
      left: 47px;
      transform: translate(-50%, 0);
      background-color: #668aca; }
  .project .project-menu::after {
    content: "";
    display: block;
    clear: both; }

.project-show {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 1000px; }
  .project-show .project-show-item {
    position: absolute;
    transition: "";
    top: 0;
    left: 0;
    width: 400%; }
    .project-show .project-show-item .project-show-list {
      float: left;
      width: 25%;
      height: 1000px; }
      .project-show .project-show-item .project-show-list .project-now {
        width: 100%;
        height: 100%;
        color: #fff; }
        .project-show .project-show-item .project-show-list .project-now .project-now-list {
          transition: all 1s ease;
          float: left;
          width: 80%;
          margin: 50px 10%;
          height: 180px;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat; }
          .project-show .project-show-item .project-show-list .project-now .project-now-list .cover {
            overflow: hidden;
            position: relative;
            transition: all 1s ease;
            height: 0;
            width: 100%;
            overflow: hidden;
            background-color: #00000050; }
            .project-show .project-show-item .project-show-list .project-now .project-now-list .cover .text {
              width: 90%;
              margin: 65px auto 0; }
              .project-show .project-show-item .project-show-list .project-now .project-now-list .cover .text .project-title {
                font-size: 14px;
                font-weight: bold; }
              .project-show .project-show-item .project-show-list .project-now .project-now-list .cover .text .project-notitle {
                font-size: 12px;
                font-weight: bolder; }
              .project-show .project-show-item .project-show-list .project-now .project-now-list .cover .text .project-essay {
                margin-top: 14px;
                font-size: 12px;
                line-height: 20px; }
            .project-show .project-show-item .project-show-list .project-now .project-now-list .cover .project-arr {
              cursor: pointer;
              text-align: center;
              line-height: 30px;
              font-size: 25px;
              position: absolute;
              bottom: 60px;
              right: 50px;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              background-color: #fff;
              color: #767676; }
          .project-show .project-show-item .project-show-list .project-now .project-now-list .nocover {
            position: absolute;
            height: 35px;
            width: 100%;
            left: 0px;
            top: 210px;
            overflow: hidden;
            transition: all 1s ease;
            color: #767676; }
            .project-show .project-show-item .project-show-list .project-now .project-now-list .nocover .project-title {
              font-size: 14px;
              font-weight: bold; }
            .project-show .project-show-item .project-show-list .project-now .project-now-list .nocover .project-notitle {
              font-size: 12px;
              font-weight: bolder; }
            .project-show .project-show-item .project-show-list .project-now .project-now-list .nocover .project-arr {
              cursor: pointer;
              text-align: center;
              line-height: 30px;
              font-size: 25px;
              position: absolute;
              bottom: 0px;
              right: 0px;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              background-color: #fff;
              color: #767676;
              border: 1px solid #767676; }
        .project-show .project-show-item .project-show-list .project-now .project-now-list:hover {
          height: 270px; }
        .project-show .project-show-item .project-show-list .project-now .project-now-list:hover .cover {
          height: 270px; }
        .project-show .project-show-item .project-show-list .project-now .project-now-list:hover .nocover {
          height: 0; }
      .project-show .project-show-item .project-show-list .project-now-list:nth-child(1) {
        background-image: url("../img/index-home1.png"); }
      .project-show .project-show-item .project-show-list .project-now-list:nth-child(2) {
        margin: 50px 10%;
        background-image: url("../img/index-home2.png"); }
      .project-show .project-show-item .project-show-list .project-now-list:nth-child(3) {
        background-image: url("../img/index-home3.png"); }
  .project-show .project-show-item::after {
    content: "";
    display: block;
    clear: both; }

.product {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 120px;
  position: relative; }
  .product .product-menu {
    position: absolute;
    transition: all 1s ease;
    left: 0;
    top: 0;
    width: 500%;
    position: relative; }
    .product .product-menu .product-list {
      cursor: pointer;
      transition: all 0.5s ease;
      float: left;
      width: 20%;
      height: 86px;
      margin: 0;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-color: #668aca00; }
      .product .product-menu .product-list .text {
        font-size: 14px;
        width: 102%;
        position: absolute;
        text-align: center;
        left: 0;
        bottom: -25px; }
    .product .product-menu .product-check {
      position: absolute;
      transition: all 0.5s ease 0.1s;
      height: 1px;
      width: 16px;
      background-color: #668aca;
      bottom: -30px;
      left: 10%;
      transform: translate(-50%, 0); }
    .product .product-menu .product-list.active {
      background-color: #668aca; }
    .product .product-menu .product-list:hover {
      background-color: #668aca; }
    .product .product-menu .product-list:hover .text {
      color: #668aca;
      font-size: 16px; }
    .product .product-menu .product-list.active .text {
      font-size: 16px;
      color: #668aca; }
    .product .product-menu .product-list.active:nth-child(1) {
      background-image: url("../img/index-BED-active.png"); }
    .product .product-menu .product-list:nth-child(1) {
      background-image: url("../img/index-BED.png"); }
    .product .product-menu .product-list.active:nth-child(2) {
      background-image: url("../img/index-SOFA-active.png"); }
    .product .product-menu .product-list:nth-child(2) {
      background-image: url("../img/index-SOFA.png"); }
    .product .product-menu .product-list.active:nth-child(3) {
      background-image: url("../img/index-TABLE-active.png"); }
    .product .product-menu .product-list:nth-child(3) {
      background-image: url("../img/index-TABLE.png"); }
    .product .product-menu .product-list.active:nth-child(4) {
      background-image: url("../img/index-CLOSET-active.png"); }
    .product .product-menu .product-list:nth-child(4) {
      background-image: url("../img/index-CLOSET.png"); }
    .product .product-menu .product-list.active:nth-child(5) {
      background-image: url("../img/index-LIGHT-active.png"); }
    .product .product-menu .product-list:nth-child(5) {
      background-image: url("../img/index-LIGHT.png"); }
  .product .product-menu::after {
    content: "";
    display: block;
    clear: both; }

.product-show {
  width: 100%;
  margin: 0 auto 0px;
  height: 470px;
  overflow: hidden;
  position: relative; }
  .product-show .product-show-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 500%; }
    .product-show .product-show-item .product-show-list {
      width: 20%; }
      .product-show .product-show-item .product-show-list .product-now-show {
        width: 100%; }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list {
          cursor: pointer;
          width: 100%;
          height: 320px;
          margin: 50px 0;
          float: left;
          position: relative;
          background-position: center;
          background-repeat: no-repeat; }
          .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .cover {
            overflow: hidden;
            transition: all 1s ease;
            width: 100%;
            height: 0;
            background-color: #00000050; }
            .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .cover .text {
              margin-top: 35%;
              color: #f8f8f8; }
              .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .cover .text .product-index .line {
                display: inline-block;
                width: 80px;
                height: 1px;
                background-color: #f8f8f8; }
              .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .cover .text .product-index .num {
                font-size: 30px; }
              .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .cover .text .product-title {
                line-height: 30px;
                margin-left: 65px;
                font-size: 18px; }
              .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .cover .text .product-essay {
                line-height: 30px;
                margin-left: 65px;
                font-size: 14px; }
          .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .nocover {
            z-index: 500;
            transition: all 1s ease;
            overflow: hidden;
            color: #767676;
            position: absolute;
            height: 50px;
            width: 360px;
            top: 315px;
            left: 65px; }
            .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .nocover .product-title {
              line-height: 25px;
              font-size: 18px; }
            .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .nocover .product-essay {
              line-height: 25px;
              font-size: 14px; }
          .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .golook, .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list .outlook {
            text-align: center;
            display: block; }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(1) {
          background-image: url("../img/index-beds1.png"); }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(2) {
          background-image: url("../img/index-beds2.png"); }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(3) {
          background-image: url("../img/index-beds3.png"); }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(4) {
          background-image: url("../img/index-beds4.png"); }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(5) {
          background-image: url("../img/index-beds5.png"); }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(6) {
          background-image: url("../img/index-beds6.png"); }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:hover .cover {
          height: 100%; }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:hover .nocover {
          height: 0%; }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(2) {
          margin: 50px 0; }
        .product-show .product-show-item .product-show-list .product-now-show .product-now-show-list:nth-child(5) {
          margin: 50px 0; }
      .product-show .product-show-item .product-show-list .product-now-show::after {
        content: "";
        display: block;
        clear: both; }
  .product-show .product-show-item::after {
    content: "";
    display: block;
    clear: both; }

.service {
  width: 100%;
  height: 700px;
  background-image: url("../img/index-service.png");
  background-size: cover; }
  .service .service-contain {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #ffffff; }
    .service .service-contain .service-title {
      font-size: 30px;
      margin: 0; }
    .service .service-contain .service-essay {
      font-size: 14px;
      width: 100%; }
    .service .service-contain .service-item {
      float: none;
      margin: 140px auto 0; }
      .service .service-contain .service-item .service-list {
        cursor: pointer;
        float: left;
        height: 150px;
        width: 49%; }
        .service .service-contain .service-item .service-list .cover {
          transition: all 1s ease;
          transform: translate(-5%, -5%);
          height: 110%;
          width: 110%;
          text-align: center;
          overflow: hidden; }
          .service .service-contain .service-item .service-list .cover .text-title {
            font-size: 16px;
            margin: 50px 0 0; }
          .service .service-contain .service-item .service-list .cover .line {
            display: inline-block;
            height: 1px;
            width: 30px;
            background-color: #fff; }
          .service .service-contain .service-item .service-list .cover .text-essay {
            font-size: 12px;
            line-height: 30px; }
      .service .service-contain .service-item .service-list.active .cover {
        background-color: #668aca; }
      .service .service-contain .service-item .service-list:hover .cover {
        background-color: #668aca; }
    .service .service-contain .service-item::after {
      content: "";
      display: block;
      clear: both; }

.news {
  width: 100%;
  margin: 0 auto 200px;
  background-size: cover;
  background-repeat: no-repeat; }
  .news .news-left {
    float: left;
    width: 100%;
    margin-right: 0; }
    .news .news-left .news1 {
      position: relative;
      height: 270px;
      width: 100%;
      margin-bottom: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/index-news1.png"); }
      .news .news-left .news1 .cover {
        transition: all 0.5s ease;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background-color: #00000050; }
        .news .news-left .news1 .cover .news-title {
          font-size: 16px;
          color: #fff;
          margin-left: 0;
          line-height: 30px; }
        .news .news-left .news1 .cover .news-essay {
          width: 100%;
          font-size: 12px;
          color: #fff;
          margin-left: 0; }
        .news .news-left .news1 .cover .arr {
          cursor: pointer;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 30px;
          width: 30px;
          color: #767676;
          background-color: #fff;
          font-size: 30px;
          text-align: center;
          line-height: 30px; }
    .news .news-left .news1:hover .cover {
      height: 90px; }
    .news .news-left .news2 {
      display: inline-block;
      height: 270px;
      width: 100%;
      margin-right: 0;
      background-image: url("../img/index-news2.png");
      margin-bottom: 30px;
      background-size: cover;
      background-repeat: no-repeat; }
    .news .news-left .news3 {
      display: inline-block;
      height: 270px;
      width: 100%;
      background-image: url("../img/index-news3.png");
      margin-bottom: 30px;
      background-size: cover;
      background-repeat: no-repeat; }
  .news .news-left::after {
    content: "";
    display: block;
    clear: both; }
  .news .news-right {
    float: right;
    height: 575px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/index-news4.png"); }

.news::after {
  content: "";
  display: block;
  clear: both; }

.about {
  width: 100%;
  margin: 0; }
  .about .about-img {
    height: 300px;
    width: 100%;
    float: none;
    background-size: cover;
    background-image: url("../img/index-about.png"); }
  .about .about-text {
    width: 90%;
    margin: 0 auto;
    float: none; }
    .about .about-text p {
      font-size: 14px;
      color: #767676;
      margin: 30px 0; }

.about::after {
  content: "";
  display: block;
  clear: both; }

.footer {
  height: 260px;
  width: 100%;
  background-color: #f7f7f7;
  overflow: hidden;
  padding-top: 30px; }
  .footer .footer-contain {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #767676;
    padding-top: 0; }
    .footer .footer-contain div {
      float: none; }
    .footer .footer-contain .footer-contain-left {
      text-align: center;
      width: 100%; }
      .footer .footer-contain .footer-contain-left p {
        font-size: 16px;
        margin-bottom: 5px; }
      .footer .footer-contain .footer-contain-left a {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0 10px; }
      .footer .footer-contain .footer-contain-left .wb {
        background-image: url("../img/index-wb.png"); }
      .footer .footer-contain .footer-contain-left .wx {
        background-image: url("../img/index-wx.png"); }
      .footer .footer-contain .footer-contain-left .qq {
        background-image: url("../img/index-qq.png"); }
    .footer .footer-contain .footer-contain-center {
      width: 100%;
      border-right: none;
      border-left: none; }
      .footer .footer-contain .footer-contain-center p {
        text-indent: 2rem;
        font-size: 14px; }
    .footer .footer-contain .footer-contain-right {
      width: auto; }
      .footer .footer-contain .footer-contain-right p {
        text-indent: 2rem;
        font-size: 14px; }

/*# sourceMappingURL=index-m.css.map */
