* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.header-m {
  display: none; }

.onload {
  overflow: hidden;
  position: fixed;
  transition: all .5s ease;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #C7EDCC;
  z-index: 1000; }
  .onload .onload-text {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    color: #00000080;
    transition: all 1s ease;
    position: relative;
    background: -moz-linear-gradient(left, #000000 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0%, #000000), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #000000 0%, #ffffff 100%);
    background: -o-linear-gradient(left, #000000 0%, #ffffff 100%);
    background: -ms-linear-gradient(left, #000000 0%, #ffffff 100%);
    background: linear-gradient(to right, #000000 0%, #ffffff 100%);
    top: 40%;
    width: 100%;
    text-align: center; }
    .onload .onload-text .bug {
      position: absolute;
      animation: myload 3s infinite;
      top: 0;
      left: 0;
      height: 100%;
      width: 50px;
      background-color: green; }

@keyframes myload {
  0% {
    left: 0;
    width: 10%;
    background-color: red; }
  25% {
    left: 25%;
    width: 20%;
    background-color: yellow; }
  50% {
    left: 50%;
    width: 10%;
    background-color: pink; }
  75% {
    left: 75%;
    width: 20%;
    background-color: lightblue; }
  100% {
    left: 100%;
    width: 10%;
    background-color: lightsteelblue; } }
.header {
  height: 100px;
  width: 100%;
  background-color: #ffffff; }
  .header .header-contain {
    margin: 0 auto;
    height: 100%;
    width: 1200px; }
    .header .header-contain .logo {
      margin-top: 24px;
      float: left; }
    .header .header-contain .nav {
      float: right;
      height: 100%;
      position: relative; }
      .header .header-contain .nav .nav-list {
        float: left;
        width: 110px;
        height: 100%; }
        .header .header-contain .nav .nav-list a {
          color: #767676;
          line-height: 100px;
          float: right;
          font-size: 14px; }
        .header .header-contain .nav .nav-list a.active {
          color: #668aca;
          font-size: 18px;
          position: relative; }
        .header .header-contain .nav .nav-list a:hover {
          color: #668aca;
          font-size: 18px; }
      .header .header-contain .nav .nav-check {
        display: block;
        position: absolute;
        left: 194px;
        height: 1px;
        width: 20px;
        bottom: 34px;
        background-color: #668aca;
        transition: all 0.5s ease 0.1s; }

.banner {
  width: 100%;
  height: 300px;
  margin-bottom: 45px; }
  .banner .banner-contain {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/project-banner.png"); }

.title {
  width: 1200px;
  margin: 0 auto; }
  .title .title-contain {
    float: left;
    font-size: 14px; }
    .title .title-contain .blue {
      color: #668aca; }
  .title .project-menu {
    float: right;
    text-align: center;
    position: relative;
    display: inline-block; }
    .title .project-menu .project-menu-list {
      cursor: pointer;
      position: relative;
      float: left;
      width: 95px;
      color: #767676;
      font-size: 14px; }
      .title .project-menu .project-menu-list span {
        position: absolute;
        height: 8px;
        width: 1px;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #767676; }
    .title .project-menu .project-menu-list.active {
      color: #668aca;
      font-size: 16px; }
    .title .project-menu .project-menu-list:hover {
      color: #668aca;
      font-size: 16px; }
    .title .project-menu .project-check {
      position: absolute;
      transition: all 0.5s ease 0.1s;
      height: 1px;
      width: 12px;
      bottom: -5px;
      left: 47px;
      transform: translate(-50%, 0);
      background-color: #668aca; }
    .title .project-menu .project-check.work {
      left: 142px; }
    .title .project-menu .project-check.food {
      left: 237px; }
    .title .project-menu .project-check.more {
      left: 332px; }
  .title .project-menu::after {
    content: "";
    display: block;
    clear: both; }

.title::after {
  content: "";
  display: block;
  clear: both; }

.project {
  width: 100%;
  margin: 63px 0 50px; }
  .project .project-contain {
    width: 1200px;
    margin: 0 auto; }
    .project .project-contain .project-list {
      width: 30%;
      float: left;
      height: 290px; }
      .project .project-contain .project-list .project-box {
        transition: all 1s ease;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 180px;
        position: relative; }
        .project .project-contain .project-list .project-box .cover {
          overflow: hidden;
          position: relative;
          transition: all 1s ease;
          color: #fff;
          height: 0;
          width: 100%;
          overflow: hidden;
          background-color: #00000050; }
          .project .project-contain .project-list .project-box .cover .text {
            width: 250px;
            margin: 65px auto 0; }
            .project .project-contain .project-list .project-box .cover .text .project-title {
              font-size: 14px;
              font-weight: bold; }
            .project .project-contain .project-list .project-box .cover .text .project-notitle {
              font-size: 12px;
              font-weight: bolder; }
            .project .project-contain .project-list .project-box .cover .text .project-essay {
              margin-top: 14px;
              font-size: 12px;
              line-height: 20px; }
          .project .project-contain .project-list .project-box .cover .project-arr {
            cursor: pointer;
            text-align: center;
            line-height: 30px;
            font-size: 25px;
            position: absolute;
            bottom: 60px;
            right: 50px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #fff;
            color: #767676; }
        .project .project-contain .project-list .project-box .nocover {
          position: absolute;
          height: 35px;
          width: 265px;
          left: 46px;
          top: 210px;
          overflow: hidden;
          transition: all 1s ease;
          color: #767676; }
          .project .project-contain .project-list .project-box .nocover .project-title {
            font-size: 14px;
            font-weight: bold; }
          .project .project-contain .project-list .project-box .nocover .project-notitle {
            font-size: 12px;
            font-weight: bolder; }
          .project .project-contain .project-list .project-box .nocover .project-arr {
            cursor: pointer;
            text-align: center;
            line-height: 30px;
            font-size: 25px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #fff;
            color: #767676;
            border: 1px solid #767676; }
    .project .project-contain .project-list:hover .project-box {
      height: 270px; }
    .project .project-contain .project-list:hover .cover {
      height: 270px; }
    .project .project-contain .project-list:hover .nocover {
      height: 0; }
    .project .project-contain .project-list:nth-child(2) {
      margin: 0 5%; }
    .project .project-contain .project-list:nth-child(5) {
      margin: 0 5%; }
    .project .project-contain .project-home-list:nth-child(1) .project-box {
      background-image: url("../img/index-home1.png"); }
    .project .project-contain .project-home-list:nth-child(2) .project-box {
      background-image: url("../img/index-home2.png"); }
    .project .project-contain .project-home-list:nth-child(3) .project-box {
      background-image: url("../img/index-home3.png"); }
    .project .project-contain .project-home-list:nth-child(4) .project-box {
      background-image: url("../img/project-home1.png"); }
    .project .project-contain .project-home-list:nth-child(5) .project-box {
      background-image: url("../img/project-home2.png"); }
    .project .project-contain .project-home-list:nth-child(6) .project-box {
      background-image: url("../img/project-home3.png"); }
    .project .project-contain .project-work-list:nth-child(1) .project-box {
      background-image: url("../img/project-work1.png"); }
    .project .project-contain .project-work-list:nth-child(2) .project-box {
      background-image: url("../img/project-work2.png"); }
    .project .project-contain .project-work-list:nth-child(3) .project-box {
      background-image: url("../img/project-work3.png"); }
    .project .project-contain .project-food-list:nth-child(1) .project-box {
      background-image: url("../img/project-food1.png"); }
    .project .project-contain .project-food-list:nth-child(2) .project-box {
      background-image: url("../img/project-food2.png"); }
    .project .project-contain .project-food-list:nth-child(3) .project-box {
      background-image: url("../img/project-food3.png"); }
    .project .project-contain .project-more-list:nth-child(1) .project-box {
      background-image: url("../img/project-more1.png"); }
    .project .project-contain .project-more-list:nth-child(2) .project-box {
      background-image: url("../img/project-more2.png"); }
    .project .project-contain .project-more-list:nth-child(3) .project-box {
      background-image: url("../img/project-more3.png"); }

.project::after {
  content: "";
  display: block;
  clear: both; }

.footer {
  height: 260px;
  width: 100%;
  background-color: #f7f7f7;
  overflow: hidden; }
  .footer .footer-contain {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    color: #767676;
    padding-top: 100px; }
    .footer .footer-contain div {
      float: left; }
    .footer .footer-contain .footer-contain-left {
      text-align: center;
      width: 387px; }
      .footer .footer-contain .footer-contain-left p {
        font-size: 16px;
        margin-bottom: 5px; }
      .footer .footer-contain .footer-contain-left a {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0 10px; }
      .footer .footer-contain .footer-contain-left .wb {
        background-image: url("../img/index-wb.png"); }
      .footer .footer-contain .footer-contain-left .wx {
        background-image: url("../img/index-wx.png"); }
      .footer .footer-contain .footer-contain-left .qq {
        background-image: url("../img/index-qq.png"); }
    .footer .footer-contain .footer-contain-center {
      width: 435px;
      border-right: 1px solid #767676;
      border-left: 1px solid #767676; }
      .footer .footer-contain .footer-contain-center p {
        text-indent: 5rem;
        font-size: 14px; }
    .footer .footer-contain .footer-contain-right {
      width: auto; }
      .footer .footer-contain .footer-contain-right p {
        text-indent: 5rem;
        font-size: 14px; }

/*# sourceMappingURL=project.css.map */
